<!DOCTYPE html>
<html>
<head>
		<%-include('../partials/adminHead',{pageTitle:'Add New Book'})%>
</head>
<body>

	<%-include('../partials/adminNav')%>
	<h2 class="text-center m-4 text-capitalize">New Book</h2>
	<div class="bookedit-container mb-5">
		<form method="POST" action="/admin/book">
			<div class="form-group row">
				<label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
				<div class="col-sm-10">
					<input name="title" type="text" class="form-control" id="inputEmail3" placeholder="Title" required>
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword3" class="col-sm-2 col-form-label">Author</label>
				<div class="col-sm-10">
					<input name="author" type="text" class="form-control" id="inputPassword3" placeholder="Author" required>
				</div>
			</div>
			<div class="form-group row">
				<label for="inputEmail3" class="col-sm-2 col-form-label">isbn</label>
				<div class="col-sm-10">
					<input name="isbn" type="number" class="form-control" id="inputEmail3" placeholder="isbn"  required>
				</div>
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Synopsis</label>
				<textarea name="synopsis" class="form-control" id="exampleFormControlTextarea1" rows="6"required></textarea>
			</div>
			<div class="form-group row">
				<label for="inputEmail3" class="col-sm-2 col-form-label">Price</label>
				<div class="col-sm-10">
					<input name="price" type="number" class="form-control" id="inputEmail3"  placeholder="Price(KES)" required>
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword3" class="col-sm-2 col-form-label">Condition</label>
				<div class="col-sm-10">
					<input name="condition" type="number" class="form-control" id="inputPassword3" placeholder="Condition" required>
				</div>
			</div>
			<div class="form-group row">
			<label for="inputEmail3" class="col-sm-2 col-form-label">Category</label>
			<div class="col-sm-10">
				<input name="cat" type="text" class="form-control" id="inputEmail3" placeholder="Category" required>
			</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword3" class="col-sm-2 col-form-label">Page-Count</label>
				<div class="col-sm-10">
					<input name="pages" type="number" class="form-control" id="inputPassword3" placeholder="Page-Count" required>
				</div>
			</div>
			<button type="submit" class="btn btn-primary button btn-block">Submit</button>
		</form>
	</div>
	<%-include('../partials/adminFooter',{user:user})%>
</body>
</html>

