<nav class="navbar sticky-top navbar-expand-lg">
	<a class="ml-2 navbar-brand admin-logo" href="/admin/dashboard">Admin Dashboard</a>
	<div class="nav-link" > 
			<a class='mr-3' href="/admin/dashboard">
				<span>orders |</span>
			</a>
			<a href="/admin/books">
				<span>books |</span>
			</a>
			<a href="/admin/newbook">
				<span>new book </span>
			</a>
	</div>        
	</a>
</nav>

