<footer class="footer2">
	<div class="footer">
			<div class="container">
					<div class="row">
						<nav class="col-md-3 col-sm-6 col-xs-12">
							<h3>Orders</h3>
							<ul>
									<li>
										<a href="/admin/dashboard">
											View Orders
										</a>
									</li>
							</ul>
						</nav>
						<nav class="col-md-3 col-sm-6 col-xs-12">
							<h3>Books</h3>
							<ul>
									<li>
											<a href="/admin/books">Edit Books</a>
									</li>
									<li>
										<a href="/admin/newbook">New Book</a>
								</li>
							</ul>
						</nav>
						<nav class="col-md-3 col-sm-6 col-xs-12">
							<h3>Users</h3>
							<ul>
									<li>
											<a href="/admin/users">Manage Users</a>
									</li>
							</ul>
						</nav>
						<nav class="col-md-3 col-sm-6 col-xs-12">
							<h3>Coupons</h3>
							<ul>
								<li>
									<a href="/admin/coupons">Manage Coupons</a>
								</li>
								<li>
									<a href="/admin/newcoupon">New Coupon</a>
								</li>
							</ul>
						</nav>
						<nav class="col-md-3 col-sm-6 col-xs-12">
							<h3>Deliveries</h3>
							<ul>
								<li>
									<a href="/deliveries/dashboard">Manage Deliveries</a>
								</li>
							</ul>
						</nav>
					</div> <!--/.row--> 
			</div> <!--/.container--> 
	</div> <!--/.footer-->
	<div class="footer-bottom">
			<div class="container">
				<div class="pull-left"> Copyright © Bookworm 2019 Used-books online store. All right reserved. <a href="/"><strong class="float-right">Main Site</strong></a> </div>
			</div>
	</div> <!--/.footer-bottom--> 
</footer>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="/assets/scripts/rater.js"></script>
	<script src="/assets/scripts/app.js"></script>