<footer class="footer2">
	<div class="footer">
			<div class="container">
					<div class="row">
						<nav class="col-md-3 col-sm-6 col-xs-12">
								<h3>Browse <span>Categories</span></h3>
								<ul>
										<li>
											<a href="/cat/romance">
												Romance
											</a>
										</li>
										<li>
											<a href="/cat/fiction">
												Fiction
											</a>
										</li>
										<li>
											<a href="/cat/mystery">
												Mystery
											</a>
										</li>
										<li>
											<a href="/cat/motivation">
												Motivation
											</a>
										</li>
										<li>
											<a href="/cat/personal-growth">
												Personal-growth
											</a>
										</li>
								</ul>
						</nav>
						<nav class="col-md-3 col-sm-6 col-xs-12">
								<h3>Help <span>& Support</span></h3>
								<ul>
										<li>
												<a href="#">Get in Touch</a>
										</li>
								</ul>
						</nav>
						<nav class="col-md-3 col-sm-6 col-xs-12">
							<h3>My<span> Account</span></h3>
							<ul>
									<%if(user){%>
										<li>
												<a class="text-capitalize" href="/profile"><%=user.name%></a>
										</li>
										<%if(user.role === 0){%>
											<li>
													<a href="/admin/dashboard">Dashboard</a>
											</li>
										<%}%>
										<li>
												<a class="text-capitalize" href="/auth/logout">Sign out</a>
										</li>
									<%}else{%>
										<li>
												<a href="/auth/login">Sign up</a>
										</li>
									<%}%>
							</ul>
						</nav>
					</div> <!--/.row--> 
			</div> <!--/.container--> 
	</div> <!--/.footer-->
	<div class="footer-bottom">
			<div class="container">
				<div class="pull-left"> Copyright © Bookworm 2019 Used books online store. All right reserved.</div>
			</div>
	</div> <!--/.footer-bottom--> 
</footer>
	<!-- Footer -->
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="/assets/scripts/rater.js"></script>
	<script src="/assets/scripts/app.js"></script>