<hr>
<footer class="page-footer font-small blue pt-4">
    <p class="text-center">You may also like</p>
    <div class="related-titles">
		<div class="related-card">
			<a href='/book'>
				<img class="mb-2" src="https://picsum.photos/300/500/?image=121"/>
				<h6>The New Invention</h6>
				<h4>Ksh.100</h4>
			</a>
		</div>
		<div class="related-card">
			<a href='/book'>
				<img class="mb-2" src="https://picsum.photos/300/500/?image=181"/>
				<h6>Space Landing</h6>
				<h4>Ksh.200</h4>
			</a>
		</div>
		<div class="related-card">
			<a href='/book'>
				<img class="mb-2" src="https://picsum.photos/300/500/?image=321"/>
				<h6>The Ferrari Inception</h6>
				<h4>Ksh.180</h4>
			</a>
		</div>
		<div class="related-card">
			<a href='/book'>
				<img class="mb-2" src="https://picsum.photos/300/500/?image=421"/>
				<h6>Stranger Things Movie</h6>
				<h4>Ksh.300</h4>
			</a>
		</div>
	 </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center mt-5 py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> Boooked</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->