<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner landing-slider">
      <div class="carousel-item active landing-seg">
        <h1 class="text-center m-3 text-capitalize">Your <strong>#1</strong> second-hand book e-store.</h1>
      </div>
      <div class="carousel-item landing-seg">
          <h1 class="text-center m-3 text-capitalize"><strong>FREE</strong> Deliveries to CBD.</h1>
      </div>
      <div class="carousel-item landing-seg">
        <h1 class="text-center m-3 text-capitalize">Pay on <strong>Delivery.</strong></h1>
      </div>
      <div class="carousel-item landing-seg">
        <h1 class="text-center m-3 text-capitalize">clutter? Swap books for a <strong>15%</strong> discount*.</h1>
      </div>
    </div>
    <ol class="carousel-indicators landingSlide-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
  </div>