<!-- <div id="carouselExampleIndicators" class="carousel slide carousel-fade quote-slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <blockquote cite=" Paulo Coelho">Writing means sharing. It's part of the human condition to want to share things - thoughts, ideas, opinions.</blockquote>
      </div>
			<div class="carousel-item">
				<blockquote cite=" Mitch Albom">All endings are also beginnings. We just don't know it at the time.</blockquote>
			</div>
			<div class="carousel-item">
					<blockquote cite="Harlan Coben">I don’t regret the things I’ve done. I regret the things I didn’t do when I had the chance.</blockquote>
			</div>
			<div class="carousel-item">
					<blockquote cite="Nora Roberts">You can fix anything but a blank page.</blockquote>
			</div>
    </div>
</div> -->