<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators landingSlide-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner landing-slider">
      <div class="carousel-item active landing-seg">
       <h1 class="text-center m-3 text-capitalize">Paulo Celho , David Baldacci <strong>+25</strong> other authors to choose from.</h1>
      </div>
      <div class="carousel-item landing-seg">
          <h1 class="text-center m-3 text-capitalize"><strong>FREE</strong> Delivers to CBD.</h1>
      </div>
      <div class="carousel-item landing-seg">
          <h1 class="text-center m-3 text-capitalize">Pay on <strong>Delivery.</strong></h1>
        </div>
      <div class="carousel-item landing-seg">
        <h1 class="text-center m-3 text-capitalize">Book clutter? Swap books for a <strong>20%</strong> discount*.</h1>
      </div>
    </div>
  </div>