
  <!-- Modal -->
  <div class="modal fade" id="loginCTA" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content loginCTA">
        <div class="modal-header loginCTA-header">
            <h3 class="text-center">LIMITED TIME OFFER!</h3>
        </div>
        <div class="modal-body">
            <div id="clockdiv">
                <div>
                <span class="days"></span>
                <div class="smalltext">Days</div>
                </div>
                <div>
                <span class="hours"></span>
                <div class="smalltext">Hours</div>
                </div>
                <div>
                <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
                </div>
                <div>
                <span class="seconds"></span>
                <div class="smalltext">Seconds</div>
                </div>
            </div> 
            <h6 class="mt-4 mb-4 text-center">Get <span style="text-decoration:underline;"><strong>20% OFF</a></strong></span> all orders using the coupon.</h6>
            <h3 class="text-center coupon-name">BOOKS4ALL</h3>
        </div>
        <div class="modal-footer loginCTA-footer">
            <a href="/auth/login"><button class="btn btn-light btn-block">Sign Up</button></a> 
        </div>
      </div>
    </div>
  </div>