<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Book Condition Rating</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             <p>Number-based rating system used to classify books depending on their condition.</p>
             <ul>
                 <li>(5) - Does not look new and has been read but is in excellent condition. No obvious damage to the cover.</li>
                 <li>(4) - Very minimal damage to the cover including scuff marks, but no holes or tears.</li>
                 <li>(3) - Binding has minimal wear. The majority of pages are undamaged with minimal creasing or tearing, minimal pencil underlining of text. </li>
                 <li>(2) - A book with obvious wear. May have some damage to the cover but integrity still intact.  </li>
             </ul>
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>