<!DOCTYPE html>
<html>
<head>
	<%- include('partials/header',{pageTitle:'Home'}); %>
</head>
<body>
	<!-- NavBar -->
	<%- include('partials/nav',{cartCount:0,suggestions:[]}); %>
	<div id="tabs">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
			<li class="nav-item">
					<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Pending Orders</a>
			</li>
			<li class="nav-item">
					<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Order history</a>
			</li>
			<li class="nav-item">
			</li>
    </ul>
		<div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
					
			</div>
			<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
					<div class="result-grid">
							<div class="book-card">
							<a href="/cart/"><i class="fas fa-times"></i></a>
								<a href="/book/">
									<img src="https://picsum.photos/300/500/?random"/>
									<div class="book-card-div">
										<h4>title</h4>
										<h6>author</h6>
										<p class="text-capitalize">
										fiction | mystery | crime |
										</p>
										<h3>Ksh.300</h3>
									</div>
								</a>
							</div>
						</div>
			</div>
		</div>
	</div>
    <!-- FOOTER-->	
	<%- include('partials/footer',{titles:[]});%>
</body>
</html>












