<!DOCTYPE html>
<html>
<head>
	<%- include('partials/header',{pageTitle:'Home'}); %>
</head>
<body>
	<!-- NavBar -->
	<%- include('partials/nav',{cartCount:0,suggestions:[]}); %>
	<div id="tabs">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
			<li class="nav-item">
					<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Pending Orders</a>
			</li>
			<li class="nav-item">
					<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Order history</a>
			</li>
			<li class="nav-item">
			</li>
    </ul>
		<div class="tab-content" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
				<!-- pending orders -->
				<div class="result-grid">
					<div class="book-card-pending">
							<div class="order-head">
									<span>2019-01-01</span>
									<h6>301928391</h6>
							</div>
							<div class='pending-details'>
								<h4>title</h4>
								<h6>author</h6>
								<p class="text-capitalize">
								fiction | mystery | crime |
								</p>
								<h3>Ksh.300</h3>
								<hr >
								<h4>title</h4>
								<h6>author</h6>
								<p class="text-capitalize">
								fiction | mystery | crime |
								</p>
								<h3>Ksh.300</h3>
								<hr>
								<h4>title</h4>
								<h6>author</h6>
								<p class="text-capitalize">
								fiction | mystery | crime |
								</p>
								<h3>Ksh.300</h3>
							</div>
							<div class="order-summary">
									<h3>Total:<strong>Ksh.450</strong></h3>
									<strong><p>Est. Delivery Date: Wed 15 Jan</p></strong>
									<p>Edwin Walela.<br>Kitengela Rd. Ngei 2 estate, Hse.37. Langata</p>
									<p>Delivery contact: <a style="color:blue;" href="tel:0706496885"><em>0706496885</em></a> </p>
							</div>
					</div>
					<div class="book-card-pending">
							<div class="order-head">
									<span>2019-01-01</span>
									<h6>301928391</h6>
							</div>
							<div class='pending-details'>
								<h4>title</h4>
								<h6>author</h6>
								<p class="text-capitalize">
								fiction | mystery | crime |
								</p>
								<h3>Ksh.300</h3>
								<hr >
								<h4>title</h4>
								<h6>author</h6>
								<p class="text-capitalize">
								fiction | mystery | crime |
								</p>
								<h3>Ksh.300</h3>
								<hr>
								<h4>title</h4>
								<h6>author</h6>
								<p class="text-capitalize">
								fiction | mystery | crime |
								</p>
								<h3>Ksh.300</h3>
							</div>
							<div class="order-summary">
									<h3>Total:<strong>Ksh.450</strong></h3>
									<strong><p>Est. Delivery Date: Wed 15 Jan</p></strong>
									<p>Edwin Walela.<br>Kitengela Rd. Ngei 2 estate, Hse.37. Langata</p>
									<p>Delivery contact: <a style="color:blue;" href="tel:0706496885"><em>0706496885</em></a></p>
							</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
					<!-- order history -->
					<div class="result-grid">
							<div class="book-card-pending">
									<div class="order-head">
											<span>2019-01-01</span>
											<h6>301928391</h6>
									</div>
									<div class='pending-details'>
										<h4>title</h4>
										<h6>author</h6>
										<p class="text-capitalize">
										fiction | mystery | crime |
										</p>
										<h3>Ksh.300</h3>
										<hr >
										<h4>title</h4>
										<h6>author</h6>
										<p class="text-capitalize">
										fiction | mystery | crime |
										</p>
										<h3>Ksh.300</h3>
										<hr>
										<h4>title</h4>
										<h6>author</h6>
										<p class="text-capitalize">
										fiction | mystery | crime |
										</p>
										<h3>Ksh.300</h3>
									</div>
									<div class="order-summary">
											<h3>Total:<strong>Ksh.450</strong></h3>
											<strong><p>Delivered on: Wed 3 Sept 2018</p></strong>
											<p>Edwin Walela.<br>Kitengela Rd. Ngei 2 estate, Hse.37. Langata</p>
									</div>
							</div>
							<div class="book-card-pending">
									<div class="order-head">
											<span>2019-01-01</span>
											<h6>301928391</h6>
									</div>
									<div class='pending-details'>
										<h4>title</h4>
										<h6>author</h6>
										<p class="text-capitalize">
										fiction | mystery | crime |
										</p>
										<h3>Ksh.300</h3>
									</div>
									<div class="order-summary">
											<h3>Total:<strong>Ksh.300</strong></h3>
											<strong><p>Delivered on: Fri 13 Dec 2018</p></strong>
											<p>Edwin Walela.<br>Kitengela Rd. Ngei 2 estate, Hse.37. Langata</p>
									</div>
							</div>
						</div>
			</div>
		</div>
	</div>
    <!-- FOOTER-->	
	<%- include('partials/footer',{titles:[]});%>
</body>
</html>












