html{
    margin: 0;
    padding: 0;
    height:100%;
    min-height: 100%;
    scroll-behavior: smooth;
}
textarea:focus, input:focus{
    outline: none;
}
body{
    width:100%;
}
a, a:hover, a:focus{
    color:inherit;
    text-decoration: none  !important;
    text-decoration-style: none  !important;
}
li{
    list-style: none;
}

.button{
    background:#3066BE ;
    color:#fff;
}

.prof-pills .active a,
.prof-pills .active a:hover {
    background-color: red !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   background: #3066BE !important;
}

.navbar{
    background: #3066BE;
    color:#fff !important;
    padding:10px 3px;
}

.navbar-brand{
    width:38%;
    max-width: 200px;
    position: relative;
    font-family: 'Exo', sans-serif;
    display: inline-block;
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 0 !important;
    height: 1.5em;;
    letter-spacing: 3.5px;
    font-weight:600;
    text-align: center;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFC857' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFC857' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
    background: grey;
}

.carousel-indicators li.active{
    background: #FFC857;
}

.carousel-indicators {
    bottom: 0px;
}

.search-bar{
    text-align: center;
    width:100%;
    height: 90px;
    line-height: 100px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url('https://images.pexels.com/photos/48126/books-education-school-literature-48126.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
}

.search-bar:hover{
    transition:all linear 1s; 
}
.nav-icons-container{
    float: right;
}
.nav-icon{
    position: relative;
    font-size:1.4em;
}


#cart-item-count{
    left:91%;
    top:9px;
    position: absolute;
    display: inline-block;
    font-size:0.5em;
    font-weight: 500;
    width:20px;
    height: 20px;
    border:solid 1px;
    padding: 3px 6px;
    border-radius: 10px;
    background: tomato;
}

#fa-search{
    font-size: 1.2em;
    position: relative;
    right: 6%;
    color:#3066BE;
}
.search-bar-input{
    position: relative;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    height: 3em;
    font-size: 1em;
    width: 80%;
    margin:1em 0;
    background: rgba(255,255,255,0.9);
    border:solid 2px rgba(0,0,0,0.2);
    border-radius: 20px;
    max-width: 450px;
    min-width: 220px;
}


#search-suggestion{
    position: fixed;
    background: #fff;
    overflow: hidden;
    z-index: 1000;
    width: 100%;
    height: 800px;
}

.search-bar-input-nav{
    position: relative;
    padding-left:20px; 
    letter-spacing: 0.9px;
    height: 2em;
    font-size: 1em;
    width: 100%;
    max-width:350px;
    background: rgba(255,255,255,0.9);
    border:none;
    border-radius: 15px;
}
.steps-landing{
    font-size: 1.3em;
    color:rgba(0,0,0,0.7);
}
.steps-icons{
    padding-right: 5px;
}
.steps-icons i{
    display: inline-block;
    width:40px;
    margin:5px 10px;
    color:#3066BE;
    font-size: 2em;
}

@media screen and (min-width:800px){
    .navbar-brand{
        margin: 0 0;
        width:40%;
        font-size: 1.4em;
        line-height: 1.5em;
        padding: 0 !important;
        height: 1.5em;
    }
    .nav-link{
        width:85%;
        text-align: right;
    }
    .nav-link span{
        font-size:0.9em;
    }
    #cart-item-count{
        left:97.5%;
        top:9px;
        position: absolute;
        display: inline-block;
        font-size:0.5em;
        font-weight: 500;
        width:20px;
        height: 20px;
        border:solid 1px;
        padding: 3px 6px;
        border-radius: 10px;
        background: tomato;
    }
    
    .search-bar-input-nav{
        position: relative;
        text-align: left;
        padding-left:20px;
        letter-spacing: 1px;
        height: 2em;
        font-size: 1em;
        width:500px;
        background: rgba(255,255,255,0.9);
        border:none;
        border-radius: 15px;
    }
}

.landing-desc{
    transition:all linear .2s;
    display: block;
    margin:  0 auto;
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    padding:8px;
    background:#3066BE;
    color:#fff;
    font-size:1.2em;
    letter-spacing: 1.5px; 
    animation: landingCTAshake .5s linear 4s forwards;
}

.landing-desc:hover{
    transition:all linear .2s;
    display: block;
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    padding:8px;
    border:solid 2px;
    color:#3066BE;
    background:#fff;
    font-size:1.18em;
    letter-spacing: 1.5px;
    transform: scale(1.1);
}

@keyframes landingCTAshake{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.04);
    }
    100%{
        transform: scale(1);
    }
}

.collection-count-grid{
    margin: auto;
    width:100%;
    max-width: 500px;
    text-align: center;
}
.collection-count-grid div:active{
    transition:all linear .1s;
    border-radius: 15px;
    border:solid 0.5px;
}
.collection-count-grid div{
    text-align: center;
    padding: 5px;
    height: 100%;
    display: inline-block;
    margin:2.5%;
    width:25%;

}
.coll-cat span{
    display: inline-block;
    font-size: 1.5em;
    border-bottom: solid 3px;
    margin-bottom:10px;
    width:40%;
    padding-bottom: 5px;
    color:#3066BE;
}
 .coll-cat p{
     font-size: 0.7em;
     text-transform: capitalize;
 }

.cat-cards{
    background-size: contain;
    background-position: center;
    transition:all linear .2s;
    width:40%;
    height: 200px;
    margin:5px;
    max-width: 450px;
    display: inline-block;
}
.cat-cards:hover{
    transition:all linear .2s;
    border-bottom:10px solid #3066BE;
}
.cat-list{
    border:solid 0px;
}
.cat-list span{
    display: inline-block;
    transition: all linear .2s;
    border:solid 2px #3066BE;
    font-size: 0.7em;
    padding:5px 10px;
    margin: 0.3em 1.5px;
    border-radius: 20px;
}
.cat-list span:hover{
    transition: all linear .2s;
    background: #3066BE;
    color:#fff;
}


.filter-dropdown{
    width: 50%;
    max-width: 150px;
    margin:0 auto;
}

.result-count{
    font-size: 0.8em;
    color:rgba(0,0,0,0.5)
}
.result-grid{
    width:95%;
    margin: 0 2.5%;
    background:#fff;
    padding:5px 0;
}

.book-card{
    margin: auto;
    text-align: center;
    border-bottom:solid 1px rgba(0,0,0,0.1);
    width:100%;
    padding:10px 1px;
}


    .book-card img{
        vertical-align: top;
        position: relative;
        top:5px;
        width:25%;
        max-width: 120px;
    }
    .book-card i{
        position: absolute;
        left:84%;
        color:red;
        padding: 25px;   
    }

    .book-card-div{
        padding:5px 0 5px 20px;
        text-align: left;
        display: inline-block;
        width: 60%;
    }

    .book-card h4{
        text-decoration: underline;
        text-transform: capitalize;
        word-wrap: break-word;
        font-size: 0.95em;
        color:rgba(0,0,0,0.6);
    }
    .rating{
        font-size: 0.9em;
        display: inline-block;
    }
    .book-card h6{
        word-wrap: break-word;
        text-transform: capitalize;
        font-size: 0.8em;
        color:grey;
    }
    .book-card p{
        font-size: 0.7em;
    }
    .book-card h3{
        position: relative;
        font-size: 1em;
        border-radius: 15px;
        bottom:10px;
    }

    .book-card-sug{
        padding: 5px 0 5px 35px;
        border-bottom:solid 1px rgba(0,0,0,0.1);
        width:100%;
        max-width: 600px;
        height:5rem;
        overflow:hidden;
    }


    #sug-tip{
			display: inline-block;
			font-size: 0.8em;
			color: rgba(0,0,0,0.5);
		}
		#sug-close{
			color:#3066BE;
			font-weight: 700;
			float: right;
			font-size: 1em;
		}
    .book-card-sug i{
        position: absolute;
        left:84%;
        color:red;
        padding: 25px;   
    }

    .book-card-div{
        padding:5px 0 5px 20px;
        text-align: left;
        display: inline-block;
        width: 60%;
    }

    .book-card-sug h4{
        text-transform: capitalize;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        height: 1em;
        font-size: 1em;
        color:rgba(0,0,0,0.6);
    }
    .rating{
        font-size: 0.9em;
        display: inline-block;
    }
    .fa-info-circle{
        font-size:1em;
    }
    .book-card-sug h6{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-transform: capitalize;
        font-size: 0.8em;
        color:grey;
    }
    .book-card-sug h3{
        position: relative;
        font-size: 1em;
        border-radius: 15px;
    }

    
    @media screen and (min-width:800px){
        .result-grid{
            padding:10px 30px;
            width:80%;
            margin: 50px 10%;
            background:#fff;
        }
        .book-card{
            text-align: left;
            margin:40px 0 !important;
            border-bottom:solid 1px rgba(0,0,0,0.1);
            width:100%;
            height:15rem;
            overflow:hidden;
        }
        
        
            .book-card img{
                margin-left: 50px;
                position: relative;
                width:130px !important;
                max-width: 200px;
                height: 180px;
            }
            .book-card i{
                position: absolute;
                left:74%;
                color:red;
                padding: 25px;   
            }
        
            .book-card-div{
                margin-top:1.2em;
                padding:5px 0 5px 50px;
                text-align: left;
                display: inline-block;
                width: 65%;
            }
        
            .book-card h4{
                text-transform: capitalize;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 1em;
                color:rgba(0,0,0,0.6);
            }
            .rating{
                font-size: 1em;
                display: inline-block;
            }
            .book-card h6{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                text-transform: capitalize;
                font-size: 1em;
                color:grey;
            }
            .book-card p{
                font-size: 0.9em;
            }
            .book-card h3{
                position: relative;
                font-size: 1.2em;
                font-weight: 600;
                bottom:10px;
            }
        
            .book-card-sug{
                padding: 5px 0 5px 35px;
                border-bottom:solid 1px rgba(0,0,0,0.1);
                width:100%;
                max-width: 600px;
                height:5rem;
                overflow:hidden;
            }
    }
    
.book-card-loading{
    background: rgba(0,0,0,0.02);
    text-align: center;
    padding:15px;
    margin: auto;
    border-bottom:solid 1px rgba(0,0,0,0.1);
    width:100%;
    max-width: 450px;
    height:8rem;
    overflow:hidden;
}

    .book-card-loading img{
        position: relative;
        bottom:50px;
        width:25%;
        height: 90%;
    }

    .book-card-loading div{
        padding-left:25px;
        text-align: left;
        display: inline-block;
        width: 60%;
    }
    .book-card-loading h4{
        border-radius: 20px;
        font-size:1em;
        background: rgba(0,0,0,0.1);
        width:75%;
        color: transparent;
    }
    .book-card-loading h6{
         width:90%;
        border-radius: 20px;
        font-size:1em;
        background: rgba(0,0,0,0.1);
        color: transparent;
    }
    .book-card-loading p{
        border-radius: 20px;
        font-size:0.7em;
        width:90%;
        background: rgba(0,0,0,0.1);
        color: transparent;
    }
    .book-card-loading h3{
        border-radius: 20px;
        position: relative;
        width:70%;
        font-size:1em;
        background: rgba(0,0,0,0.1);
        color: transparent;
        border-radius: 15px;
        bottom:10px;
    }

.password-reset{
    width: 90%;
    max-width: 400px;
    margin:6em auto 1em auto;
}

.password-reset input{
    display: block;
    letter-spacing: 1px;
    width: 100%;
    font-size: 1.2em;
    padding:10px;
    text-align: center;
}

.load-more{
    margin: 2em auto;
    font-size: 0.9em;
    border:solid 2px;
    color:#3066BE;
    background:#fff;
    padding:5px;
    border-radius: 20px;
    width:40%;
    transition: all ease-out 1s;
}

.load-more:hover{
    background:#3066BE;
    color:#fff;
}

.book-detail-head{
    padding:0px 2.5px;
    margin:1em 0 7em 0;
}

    .book-detail-head img{
       max-width: 300px;
       max-height: 400px;
       margin:1em auto 3em;
    }

.book-price{
    width:100%;
    max-width:500px;
    margin: auto;
}

.book-price h3{
    text-transform: capitalize;
    font-weight: 300;
    padding: 5px;
    display: inline-block;
    margin-right: 23%;
}
#add-cart-form{
    position: relative;
    display: inline-block;
}
#add-to-cart{
    background: #3066BE;
    width: 100%;
    position: relative;
    height: 2.5em;
    bottom: 5px;
    display: inline-block;
}

.view-in-cart{
    color: #3066BE;
    background: #fff;
    width: 40%;
    max-width: 150px;
    position: relative;
    height: 2.5em;
    bottom: 5px;;
    border:solid 1px;
    display: inline-block;
}

.synopsis{
    width:90%;
    margin: 2em auto;
    max-width:500px;
    text-align: left;
    padding:5px 20px;
    background: rgba(0,0,0,0.03);
}

@media screen and (min-width:800px){
    .synopsis{
        width:100%;    
        max-width:500px;
        text-align: left;
    }
}

.synopsis span{
    font-size:0.9em;
    color:rgba(0,0,0,0.5);
}
.synopsis p{
    font-size: 0.9em;
    hyphens: auto;
    text-align: justify;
}

.related-titles{
    text-align: center;
    padding:5px 0 5px 15px;
    white-space: nowrap;
    text-overflow: clip;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 255px;
}
@media screen and (min-width:750px){
    .book-detail-head h4{
        font-size:2em;
    }
    .book-detail-head img{
        max-width: 400px;
        margin:1em auto 3em;
     }
     .book-price h3{
        text-transform: capitalize;
        font-weight: 300;
        padding: 5px;
        float: left;
    }
    #add-to-cart{
        background: #3066BE;
        width: 100%;
        position: relative;
        height: 2.5em;
        bottom: 0 !important;
        left:60px;
        float: left;
    }
    .view-in-cart{
        left:60px;
        color: #3066BE;
        background: #fff;
        width: 40%;
        max-width: 150px;
        position: relative;
        height: 2.5em;
        bottom: 0 !important;;
        border:solid 1px;
        display: inline-block;
    }
    
    .synopsis p{
        font-size: 1em;
    }
}


@media screen and (min-width:700px){
    .related-titles{
        text-align: center;
        padding:5px 0 5px 15px;
        white-space: nowrap;
        text-overflow: clip;
        overflow:hidden;
        height: 255px;
    }
}

.related-titles div{
    overflow: hidden;
    display: inline-block;
    margin-right: 8px;
    width:40%;
    max-width: 200px;
    padding: 5px;
    height: 255px;
}

.related-card img{
    height: 60%;
    width: 90%;
}

.related-card h6{
    text-overflow:ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
    text-transform: capitalize;
    padding-left:5px;
    text-align:left;
    font-size: 0.85em;
}

.related-card h5{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
    padding-left:5px;
    text-align:left;
    font-size: 0.7em;
}
.related-card h4{
    font-weight: 700;
    position: relative;
    padding-left:5px;
    font-size: 0.9em;
    text-align: left;
    bottom:0px;
}

.coupon-form input{
    width:80%;
    max-width:300px;
    padding: 30px;
    font-size: 1.3em;
    letter-spacing: 1.3px;
    text-align: center;
    text-transform: capitalize;
    margin:1em auto;
}

.coupon-form button{
    color: #3066BE !important;
    background: #fff !important;
}

.cart-container{
    max-width:600px;
    margin:auto;
}

.cart-head{
    margin:1.5em 0;
}
.cart-head h4{
    color: rgba(0,0,0,0.6);
}
.cart-summary{
    padding:10px 5px;
    margin: auto;
}
.cart-summary i{
    color:rgba(0,0,0,0.2);
    font-size: 4em;
    margin: 1em 0;
}
.cart-summary h6{
    color:rgba(0,0,0,0.7);
    font-size: 0.9em;
    padding:5px;
    width:45%;
    display: inline-block;
    text-align: center;
}
.cart-summary button{
    background: #3066BE;
    color: #fff;
    width: 90%;
    max-width:300px;
    
    padding:12px;
    margin: auto;
}
.cart-summary button:hover{
    color: #3066BE;
    background: #fff;
}
#item-removed-alert{
    z-index: 100;
    margin: 0 5%;
    top:90px;
    position: fixed;;
    z-index: 100;
    width: 90%;
}
.quote-slide{
    padding:5px;
    height: 15rem;
    width: 90%;
    margin: 0em 5%;
}
@media screen and (min-width:700px){
    .quote-slide{
        padding:5px;
        height: 15rem;
        width: 60%;
        margin: 0em 20%;
    }
}

blockquote {
    margin-top:8%;
    height: 100%;
    text-align: center;
    width:100%;
    padding: 1em 0;
    position: relative;
    font-size: 1.1em;
    border-bottom: 0;
  }
  blockquote:before {
    content: '\201C';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 3rem;
    height: 2rem;
    font: 6em/1.08em 'PT Sans', sans-serif;
    color: #3066BE;
    text-align: center;
  }
  blockquote:after {
    content: "\2013 \2003" attr(cite);
    display: block;
    margin-top:20px;
    text-align: right;
    font-size: 0.875em;
    color: #3066BE;
  }


@media screen and (min-width:800px){
    .quote-slide{
        padding:10px;
    }
    
    blockquote {
        height: 100%;
        text-align: center; 
        width:100%;
        border-color: #eee;
        padding: 2em 0;
        position: relative;
        font-size: 1.1em;
      }
      blockquote:before {
        content: '\201C';
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        width: 3rem;
        height: 2rem;
        font: 6em/1.08em 'PT Sans', sans-serif;
        color: #3066BE;
        text-align: center;
      }
      blockquote:after {
        content: "\2013 \2003" attr(cite);
        display: block;
        margin-top:20px;
        text-align: right;
        font-size: 0.875em;
        color: #3066BE;
      }
    
}

.col-sm{
    margin-top:2em;
}

.latest-title{
    margin-top:2rem;
}
.latest-title div{
    width:100%;
    text-align: center;
}
.latest-title img{
    margin: -1em auto 1.5em auto;
    display: block;
    height:250px;
    max-width: 180px;
    width:95%;
}

.loginCTA{
    background: #3066BE;
    color: #fff;
    border: none;
}

.loginCTA img{
}

.loginCTA button{
    font-size: 1.2em;
}
.loginCTA-footer{
    background: #fff;
}
.loginCTA-footer a{
    width:100%;
}

.loginCTA-header{
    border: none;
    text-align: center;
    color: #2E3436;
    background: #FFC857;
}
.loginCTA-header h3{
    width: 100%;
}
.coupon-name{
    margin: 0.5em auto;
    width: 60%;
    padding: 10px;
    background: #fff;
    color:#F7931D;
}
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	text-align: center;
    font-size: 1.2em;
    width: 100%;
}

#clockdiv > div{
	padding: 10px;
    border-radius: 3px;
    color:#222728;
	background: #fff;
	display: inline-block;
}

#clockdiv div > span{
	padding: 10px;
	border-radius: 3px;
	color:#222728;
	background: #fff;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
}

@media screen and (max-width:850px){
    #clockdiv > div{
        width:20%;
        padding: 10px;
        border-radius: 3px;
        color:#222728;
        background: #fff;
        display: inline-block;
    }
    
    .smalltext{
        padding-top: 5px;
        font-size: 0.7em;
    }
    .coupon-name{
        margin: 0.5em auto;
        width: 60%;
        padding: 10px;
        font-size: 1.2em;
        background: #fff;
        color:#F7931D;
    }
    
}
@media screen and (min-width:800px){
    .arr-titles{
        border-right: solid 3px #3066BE;
    }
    
    .latest-title div{
        padding-top: 3em;
        width:50%;
        text-align: center;
        float: right;
    }
    .latest-title img{
        display: inline-block;
        margin: auto;
        height:250px;
        max-width: 200px;
        width:42%;
    }
}


.latest-title h4{
    text-transform: capitalize;
    text-align: center;
    width:100%;
    background: #fff;
    font-size: 1em;
    margin-top:0em;
}
.latest-title h6{ 
    color: rgba(0,0,0,0.5);
    text-transform: capitalize;
    font-size: 0.9em;
    text-align: center;
    width:100%;
}

.latest-title p { 
    text-transform: capitalize;
    text-align: center;
    width:100%;
    background: #fff;
    font-size: 0.8em;
    color:#3066BE;
}


.latest-title span{
    transition: all ease-out .4s;
    display: block;
    text-transform: capitalize;
    text-align: center;
    margin: auto;
    width:100%;
    max-width: 250px;
    font-size: 1em;
    padding:10px 10px;
    border:solid 2px;
    border-radius: 20px;
    transition: all linear .2s;
    background: #3066BE;
    color:#fff;
    
}

.latest-title span:hover{
    color: #3066BE;
    background:#fff;
}


.login-header{
    margin: 1.5em 0 0 0;
}
.login-header p{
    font-size: 1.2em;
}

.auth-strategies{
    margin-top:4em;
    text-align: center;
    height: 300px;
}

#login-tip{
    width:100%;
    text-align: center;
    position: relative;
    margin-top: 10em;
    font-size: 0.7em;
    color: rgba(0,0,0,0.5);
}


@media screen and (max-width:700px){
    
.login-header{
    overflow: hidden;
    margin: 2em 0 -1em 0;
}
.login-header p{
    font-size: 0.9em;
}
}

#tabs{
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding:20px;
    text-align: center;
}
.bookgallery{
    height: 350px;
    margin: 1em auto;
}

.bookgallery img{
    max-width: 300px;
    max-height: 320px;
    
}


.book-card-pending{
    margin:1em auto;
    background: rgba(0,0,0,0.02);
    border:solid 3px rgba(0,0,0,0.1);
    width:100%;
    max-width: 550px;
    overflow-y:scroll;
}

    .book-card-pending button{
        padding: 1px 3px !important;
        font-size: 0.8em;
    }
    .order-status-icon{
        left: 0 !important;
        padding: 3px 4px !important;
        position: static !important;
        color:inherit !important;
        animation: order-status-bubble 2s ease-in-out 1s infinite ;
    }
    
    @keyframes order-status-bubble{
        0%{
            transform: scale(0.9);
        }
        50%{
            transform: scale(1);
        }
        100%{
            transform: scale(0.9);
        }
    }
    .book-card-pending i{
        position: absolute;
        left:84%;
        color:red;
        padding: 25px;   
    }

    .book-card-pending span{
        position: relative;
        float:right;
        font-size: 0.7em;
        
    }
    .order-head h6{
        float: left;
    }
    .order-head{
        padding:10px;
        background: rgba(0,0,0,0.05);
        height: 60px;
    }
    .pending-details {
        padding-left:10px;
        text-align: left;
        display: inline-block;
        width: 90%;
    }
    
    .book-card-pending h4{
        text-transform: capitalize;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        height: 1em;
        font-size: 1em;
        color:rgba(0,0,0,0.6);
    }

    .book-card-pending h6{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-transform: capitalize;
        font-size: 0.8em;
        color:grey;
    }
    .book-card-pending p{
        font-size: 0.7em;
    }
    .book-card-pending h3{
        position: relative;
        font-size: 1em;
        border-radius: 15px;
        bottom:10px;
    }
    .order-summary{
        padding-top:10px;
        width: 100%;
        text-align: center;
        padding:5px;
        background:rgba(0,0,0,0.05);
    }
   
    .order-summary h3{
        padding:3px;
        border-radius: 0;
        bottom:0 !important ;
    }
    .order-summary p{
        padding: 5px 0;
        bottom:10px !important ;
        margin-bottom: 0.3rem;
        font-size: 0.8em;
    }

.mobile-auth{
    width:90%;
    margin:2rem auto;
}
.mobile-auth ul{
    width:95%;
    margin:auto;
}
.mobile-auth li{  
    display: inline-block;
    width:50% !important;

}

@media screen and (max-width:750px){
    .auth-container{
        display: none !important;
    }
}
@media screen and (min-width:750px){
    .mobile-auth{
        display: none !important;
    }
}


.login-form {
    padding: 10px;
    border: solid 0px rgba(0,0,0,0.3);
    max-width: 350px;
    margin:auto;
}
.login-form button{
    background:#3066BE !important;
    border:none !important;
    padding: 10px;
}

#new-reader{
    text-align: center;
    width:100%;
    font-size: 1.2em;
}

#form-desc{
    border-bottom:solid 3px #3066BE; 
    margin: 1em auto 1.5em auto;
    width: 50px;
}


/*------------- FOOTER-------------------*/

.footer2 a {
    color: #DDD;
}

.footer2 a:hover,
.footer2 a:focus,
.footer2 a:active {
    color: #FFF;
}

.footer2 .footer {
    background-color: #2E3436;
    padding: 35px 0;
    margin-top: 5em;
}

.footer2 .footer nav h3 {
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 1em 0;
}

.footer2 .footer nav h3 span {
    font-weight: 300;
    text-transform: capitalize;
}

.footer2 .footer nav ul li a {
    text-decoration: none;
    display: block;
    padding: 4px 0;
    font-size: 13px;
}

.footer2 .footer .input-group {
    margin: 15px 0;
}

.footer2 .footer .form-control {
    border-radius: 2px 0 0 2px;
    background-color: #585C5D;
    border-color: #585C5D;
    color: #DDD;
}

.footer2 .footer .form-control:hover,
.footer2 .footer .form-control:focus {
    border: 1px solid #222728;
    background-color: #222728;
}

.footer2 .footer .input-group-addon {
    border-radius: 0 2px 2px 0;
    background-color: #F7931D;
    color: #FFF;
    border-color: #F7931D;
}

.footer2 .footer .social {
    margin: 0 auto;
    display: table;
}

.footer2 .footer .social li {
    float: left;
}

.footer2 .footer .social li a {
    display: block;
    font-size: 1em;
    color: #DDD;
    width: 30px;
    height: 30px;
    line-height: 32px;
    padding: 0;
    text-align: center;
    background-color: #222728;
    border-radius: 2px;
    margin: 5px 4px
}

.footer2 .footer .social li a:hover {
    background-color: #3A4144;
}

.footer2 .footer-bottom {
    background-color: #222728;
    padding: 15px 0;
    color: #DDD;
    font-size: 13px;
}

.footer2 .footer-bottom ul li {
    display: inline-block;
}

.footer2 .footer-bottom ul li a {
    display: block;
    padding-left: 8px;
}

.footer2 .footer-bottom ul li a:after {
    content: "-";
    padding-left: 8px;
}

.footer2 .footer-bottom ul li:last-child a:after {
    content: "";
}

@media (max-width: 550px) {
    .footer2 .footer-bottom .pull-left,
	.footer2 .footer-bottom .pull-right {
		float: none !important;
		width: 100%;
		padding: 10px;
		text-align: center;
	}
}

/*---------------------------------------*/


.nav-pills{
    margin: 1em 0;
   text-align: center;
}
.nav-pills li{
    margin:auto;
    text-align: center !important;
    font-size: 0.9em;
    display: inline-block;
    width:30%;
}


.sign-out{
    font-size: 1.2em;
    padding-bottom: 10px;
    display: block;
    width: 50%;
    text-align: center;
    color:rgba(78, 77, 77, 0.5);
    font-weight: 600;
    margin:auto;
}

.fb-strategy{
    display: block;
    border:solid 1px;
    width: 95%;
    max-width: 350px;
    margin: auto;
    background:#3B5998 !important;
    border:none !important;
    padding: 10px 0;
    letter-spacing: .5px;
}
.mobile-bookcontainer{
    display:none;
}
.desktop-bookcontainer{
    display: none;
}
@media screen and (max-width:750px){
    .mobile-bookcontainer{
        display:block
    }
}
@media screen and (min-width:750px){
    .desktop-bookcontainer{
        display: block;
    }
}

.landing-slider{
    background: #2E3436;
    color:#fff;
    margin-bottom: 1.5em;
    height: 200px;
    
    overflow: hidden;
}

.landing-seg{
    height: 100%;
}

.landing-seg h1{
    padding-top: 50px;
    font-family: 'Cabin Sketch', cursive;
}

@media screen and (max-width:700px){
    .landing-seg h1{
        font-size: 1.6em;
    }
}

.author-list-border{
    width: 30%;
    border-top:solid #3066BE 3px !important;
}

/*---------ADMIN---------*/
.admin-logo{
    font-size:1em;
}
.order-list{
    width:90%;
    max-width:800px;
    min-height: 55vh;   
    margin:auto;
}

.order-list li {
    background: rgba(0,0,0,0.05);
    border-bottom: solid 2px rgba(0,0,0,0.2);
    padding:10px;
}

.order-list p {
    text-transform: capitalize;
}
.order-container{
    width:90%;
    max-width:750px;
    margin: 50px auto;
}
.order-container h2{
    font-size: 1.3em;
}
.ordernumb{
    padding:20px;
    background: rgba(143, 130, 130, 0.1);
}

.ordernumb h4 {
    font-weight: 200;
    font-size: 1em;
}

.bookedit-container{
    padding:10px;
    border:solid 2px rgba(0,0,0,0.05);
    width:90%;
    max-width: 700px;
    margin: auto;
}

.table, th, td {
    font-size: 0.85em;
    border: 1px solid black;
    text-align: center;
  }

  .user-table th{
      background: #3066BE;
      color:#fff;
      font-weight: 300;
  }
 .user-table i {
     color:rgba(0,0,0,0.3);
 }

 .active-usertype {
     color:#3066BE !important;
 }

.user-table{
    width:80%;
    margin:2em auto 5em auto;
    max-width: 750px;
}


.top-picks{
    height: 300px;
}

.book-item{
    height: 260px;
}
.book-item img{
    width: 100%;
    min-width: 100px;
    max-width: 180px;
    height: 100%;
    margin-right: 10px;
}

.toppick-price{
    padding: 6px;
    position: relative;
    z-index: 100000;
    bottom:25%;
    width: 50%;
    min-width: 100px;
    font-size: 1.3em;
    font-weight: 600;
    color:#fff;
    background:#3066BE;
}

@media screen and (min-width:750px){
    .bookedit-container{
        padding:50px;
    }
}

@media screen and (max-width:500px){
    #fa-search{
        font-size: 1.2em;
        position: relative;
        right: 11%;
    }
}
